
<div id="wrap-all" class=""><div id="main" class="inner ">
<div class="other-warp login-wrap ng-scope" data-ng-controller="userLoginCtrl" ng-init="vm.weixin_unionid=''">
  <div wt-minheight="58" class="single-panel clearfix">
    <!-- ngIf: status.code == 0 --><div class="single-panel-inner login-mini ng-scope" ng-if="status.code == 0">
      <div class="single-panel-header login_logo_area">
        <!--<h3>登录</h3>-->
        <a class="logo-min" href="/" title="Worktile">
          <i class="wtfont wtf-worktile"></i>
          <i class="wtfont wtf-worktiletext"></i>
        </a>
      </div>
      <div class="single-panel-body">
        <ul class="login-tab flex_row" ng-show="vm.weixin_unionid==''">
          <li class="flex_se1 text-center ng-scope current" ng-class="{'current':!vm.weixin_login}" ng-click="vm.js_change_login_mode('default')" translate="outer_login.tab_login">帐号登录</li>
        </ul>
        <div ng-hide="vm.weixin_login" class="single-panel-section">
          <form w5c-form-validate="" name="login_form" class="form-horizontal wt-form ng-valid-minlength ng-dirty ng-valid-parse ng-valid ng-valid-required" novalidate="">
            <div class="form-group">
              <div class="input-group-">
                <!--<span class="input-group-addon"><i class="fa fa-user"></i></span>-->
                <input class="form-control valid ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched" type="text" placeholder="用户名" name="username" ng-model="signin_user.name" required=""  wt-autofocus="" tabindex="1" >
                <!-- <div [hidden]="name.valid || name.pristine" 
                   class="alert alert-danger">
                用户名不能为空
              </div> -->
              </div>
            </div>

            <div class="form-group">
              <div class="input-group-">
                <!--<span class="input-group-addon fs_17"><i class="fa fa-lock"></i></span>-->
                <input class="form-control ng-untouched valid ng-valid-minlength ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required" type="password" placeholder="密码" name="password" ng-model="signin_user.password" required="" ng-minlength="6" tabindex="2" onKeyUp=pwStrength(this.value) onBlur=pwStrength(this.value)>
                <tbody>
                  <tr align="center">
                    <td width="40%" align="right">密码强度:</td>
                    <td width="20%" id="strength_L" bgcolor="#eeeeee" >弱</td>  
                    <td width="20%" id="strength_M" bgcolor="#eeeeee" >中</td>  
                    <td width="20%" id="strength_H" bgcolor="#eeeeee" >强</td>  
                  </tr>
               </tbody>


              </div>
            </div>

            <!-- ngIf: iscode -->

            <!-- ngIf: login_form.$errors.length > 0 -->
            <div class="form-group">
              <button w5c-form-submit="signin(login_form)" class="btn btn-success btn-lg btn-block ng-scope" type="button" tabindex="4" data-loading-text="登录中…" wt-loading-status="signin_user.is_login_ing" translate="outer_login.btn_login">登 录</button>
            </div>
          </form>
        </div>
        <div id="weixin_qr_code" class="login_weixin_qr_code text-center ng-hide" ng-show="vm.weixin_login"></div>

      </div>
      <div class="single-panel-footer" ng-hide="vm.weixin_login">
        <a href="/forgot" translate="outer_login.link_forget" class="ng-scope">忘记密码</a>
        <span class="split"></span>
        <a href="/app/example/example.component.html" ng-click="$root.go_to_signup($event)" translate="outer_login.link_signup" class="ng-scope" >免费注册</a>
      </div>
    </div><!-- end ngIf: status.code == 0 -->

    <!-- ngIf: status.code == 1 -->

    <!-- ngIf: status.code == 2 -->

    
  </div>
</div>
<footer class="text-center color_text_lighter login-footer"><i class="wtfont wtf-worktile"></i><i class="wtfont wtf-worktiletext" style="font-size: 60px"></i>© 2015 Worktile.com <span class="ml-10 mr_10">进击前端组</span></footer>


</div></div>
