<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worktile.mappers.MaskMapper">
  <resultMap id="BaseResultMap" type="com.worktile.models.Mask">
    <id column="mid" jdbcType="INTEGER" property="mid" />
    <result column="markname" jdbcType="VARCHAR" property="markname" />
    <result column="listid" jdbcType="INTEGER" property="listid" />
    <result column="parentmark" jdbcType="INTEGER" property="parentmark" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creatortime" jdbcType="TIMESTAMP" property="creatortime" />
    <result column="uptotime" jdbcType="TIMESTAMP" property="uptotime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.worktile.models.Mask">
    <result column="markcontext" jdbcType="LONGVARCHAR" property="markcontext" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    mid, markname, listid, parentmark, creator, creatortime, uptotime
  </sql>
  <sql id="Blob_Column_List">
    markcontext
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.worktile.models.MaskExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from mask
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.worktile.models.MaskExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from mask
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from mask
    where mid = #{mid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mask
    where mid = #{mid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.worktile.models.MaskExample">
    delete from mask
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.worktile.models.Mask">
    insert into mask (mid, markname, listid, 
      parentmark, creator, creatortime, 
      uptotime, markcontext)
    values (#{mid,jdbcType=INTEGER}, #{markname,jdbcType=VARCHAR}, #{listid,jdbcType=INTEGER}, 
      #{parentmark,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, #{creatortime,jdbcType=TIMESTAMP}, 
      #{uptotime,jdbcType=TIMESTAMP}, #{markcontext,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.worktile.models.Mask">
    insert into mask
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mid != null">
        mid,
      </if>
      <if test="markname != null">
        markname,
      </if>
      <if test="listid != null">
        listid,
      </if>
      <if test="parentmark != null">
        parentmark,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="creatortime != null">
        creatortime,
      </if>
      <if test="uptotime != null">
        uptotime,
      </if>
      <if test="markcontext != null">
        markcontext,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mid != null">
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="markname != null">
        #{markname,jdbcType=VARCHAR},
      </if>
      <if test="listid != null">
        #{listid,jdbcType=INTEGER},
      </if>
      <if test="parentmark != null">
        #{parentmark,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatortime != null">
        #{creatortime,jdbcType=TIMESTAMP},
      </if>
      <if test="uptotime != null">
        #{uptotime,jdbcType=TIMESTAMP},
      </if>
      <if test="markcontext != null">
        #{markcontext,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.worktile.models.MaskExample" resultType="java.lang.Long">
    select count(*) from mask
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mask
    <set>
      <if test="record.mid != null">
        mid = #{record.mid,jdbcType=INTEGER},
      </if>
      <if test="record.markname != null">
        markname = #{record.markname,jdbcType=VARCHAR},
      </if>
      <if test="record.listid != null">
        listid = #{record.listid,jdbcType=INTEGER},
      </if>
      <if test="record.parentmark != null">
        parentmark = #{record.parentmark,jdbcType=INTEGER},
      </if>
      <if test="record.creator != null">
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.creatortime != null">
        creatortime = #{record.creatortime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uptotime != null">
        uptotime = #{record.uptotime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.markcontext != null">
        markcontext = #{record.markcontext,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update mask
    set mid = #{record.mid,jdbcType=INTEGER},
      markname = #{record.markname,jdbcType=VARCHAR},
      listid = #{record.listid,jdbcType=INTEGER},
      parentmark = #{record.parentmark,jdbcType=INTEGER},
      creator = #{record.creator,jdbcType=VARCHAR},
      creatortime = #{record.creatortime,jdbcType=TIMESTAMP},
      uptotime = #{record.uptotime,jdbcType=TIMESTAMP},
      markcontext = #{record.markcontext,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mask
    set mid = #{record.mid,jdbcType=INTEGER},
      markname = #{record.markname,jdbcType=VARCHAR},
      listid = #{record.listid,jdbcType=INTEGER},
      parentmark = #{record.parentmark,jdbcType=INTEGER},
      creator = #{record.creator,jdbcType=VARCHAR},
      creatortime = #{record.creatortime,jdbcType=TIMESTAMP},
      uptotime = #{record.uptotime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.worktile.models.Mask">
    update mask
    <set>
      <if test="markname != null">
        markname = #{markname,jdbcType=VARCHAR},
      </if>
      <if test="listid != null">
        listid = #{listid,jdbcType=INTEGER},
      </if>
      <if test="parentmark != null">
        parentmark = #{parentmark,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatortime != null">
        creatortime = #{creatortime,jdbcType=TIMESTAMP},
      </if>
      <if test="uptotime != null">
        uptotime = #{uptotime,jdbcType=TIMESTAMP},
      </if>
      <if test="markcontext != null">
        markcontext = #{markcontext,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where mid = #{mid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.worktile.models.Mask">
    update mask
    set markname = #{markname,jdbcType=VARCHAR},
      listid = #{listid,jdbcType=INTEGER},
      parentmark = #{parentmark,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      creatortime = #{creatortime,jdbcType=TIMESTAMP},
      uptotime = #{uptotime,jdbcType=TIMESTAMP},
      markcontext = #{markcontext,jdbcType=LONGVARCHAR}
    where mid = #{mid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.worktile.models.Mask">
    update mask
    set markname = #{markname,jdbcType=VARCHAR},
      listid = #{listid,jdbcType=INTEGER},
      parentmark = #{parentmark,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      creatortime = #{creatortime,jdbcType=TIMESTAMP},
      uptotime = #{uptotime,jdbcType=TIMESTAMP}
    where mid = #{mid,jdbcType=INTEGER}
  </update>
</mapper>