<div class="wrap">
		<div class="logo">
			<a href="#">
          <img src="src/img/logo.png" alt=""/>
    			<span class="logo-text">企业版</span>
			</a>
		</div>
		<div class="single-card">
  			<div class="card-header ng-binding">登录 </div>
  			<div class="card-body ng-scope" ng-switch-when="1">
  			  <span class="sub-title ng-scope" translate="user.ENTER_LOGIN_DOMAIN">输入你要登录的企业域名</span>
  			  <form class="form-signin w5c-form form-horizontal m-t-20 ng-pristine ng-invalid ng-invalid-required" role="form" name="formSelectDomain" w5c-form-validate="">
      			  <div class="form-group">
          				  <div class="input-group">
          				  <input type="text" lc-auto-focus="" name="teamDomain" required="" ng-model="vm.team.inputDomain" class="form-control ng-pristine valid ng-empty ng-invalid ng-invalid-required ng-touched" placeholder="企业域名"> 
          				  <span class="input-group-addon ng-binding">.worktile.com</span>
          				  </div>
      			  </div>
      			  <div class="form-group">
                    <button type="button" w5c-form-submit="vm.checkDomain(formSelectDomain)" class="btn btn-primary btn-lg btn-block ng-scope" translate="user.NEXT">下一步</button>
      			  </div>
      			  <div class="form-group">
      			  	    <div class="col-sm-offset-6 col-sm-6 right">
      			  	          <span class="sub-title"><a href="/find" class="ng-binding">忘记企业域名?</a></span>
      			  	    </div>
      			  </div>
  			  </form>
  			  </div>
		</div>
		<div class="secondary-panel ng-scope" ng-if="vm.step==1">
      		<div translate="user.CREATE_NEW_ENTERPRISE" class="ng-scope">如果还没有创建企业，
      		<a href="/signup">点击这里</a>创建一个新的企业。
      		</div>
    </div>
</div>